* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

body {
    background-color: #fff;
    font-family: monospace;
    font-size: 70px;
    color: #fff;
    text-shadow: 2px 2px 4px #3d5a80;
}

table {
    margin: 100px auto;
}

tr, td {
    border: 1px solid #3d5a80;
}

td {
   padding: 0 3px;
}

.light {
    border-bottom: 5px solid #3d5a80;
    border-right: 5px solid #3d5a80;
    /*background-color: #e0fbfc;*/
    background-image: linear-gradient(to right, #98c1d9, #e0fbfc);
}

.code {
    border-top: 5px solid #3d5a80;
    border-left: 5px solid #3d5a80;
    background-image: linear-gradient(to right, #e0fbfc, #98c1d9);
    /*background-color: #98c1d9;*/
}